In [39]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

# Đọc dữ liệu
tra = pd.read_csv('data/TRA.csv', index_col=0, parse_dates=True)
vnindex = pd.read_csv('data/VNINDEX.csv', index_col=0, parse_dates=True)
pharma = pd.read_csv('data/pharma.csv', index_col=0, parse_dates=True)

# Giữ lại cột 'close'
tra = tra[['close']].rename(columns={'close': 'TRA'})
tra.index = pd.to_datetime(tra.index)

vnindex = vnindex[['time','close']]
vnindex.set_index('time', inplace=True)
vnindex.index = pd.to_datetime(vnindex.index)
vnindex.drop_duplicates(inplace=True)
vnindex = vnindex[['close']].rename(columns={'close': 'VNINDEX'})
vnindex

pharma = pharma[['close']].rename(columns={'close': 'PHARMA'})
pharma.index = pd.to_datetime(pharma.index)
pharma

df = pd.concat([tra,pharma,vnindex], axis=1,join='inner')

# Đọc dữ liệu
df.index = pd.to_datetime(df.index)

df['target'] = (df['TRA'].shift(-1) > df['TRA']).astype(int)

df['VNINDEX_lag2'] = df['VNINDEX'].shift(2)
df['PHARMA_lag1'] = df['PHARMA'].shift(1)

df.dropna(inplace=True)

df.drop(['PHARMA','VNINDEX'],axis=1,inplace=True)


df.to_csv('data/TRA_PHARM_VNINDEX.csv')

df

C:\Users\hoang\AppData\Local\Temp\ipykernel_16184\2110913311.py:6: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  vnindex = pd.read_csv('data/VNINDEX.csv', index_col=0, parse_dates=True)

              TRA  target  VNINDEX_lag2  PHARMA_lag1
time
2014-03-28  36.34       0        588.06    14.635833
2014-03-31  36.13       0        590.14    14.485000
2014-04-01  36.13       0        594.29    14.422083
2014-04-02  35.92       1        591.57    14.248333
2014-04-03  36.13       1        583.85    14.176250
...           ...     ...           ...          ...
2025-03-25  75.20       0       1321.88    30.697414
2025-03-26  75.20       0       1330.32    30.627759
2025-03-27  75.10       0       1331.92    30.842586
2025-03-28  75.10       1       1326.09    30.936207
2025-03-31  77.30       0       1323.81    30.904655

[2690 rows x 4 columns]

In [40]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

# Đọc dữ liệu
dhg = pd.read_csv('data/DHG.csv', index_col=0, parse_dates=True)
vnindex = pd.read_csv('data/VNINDEX.csv', index_col=0, parse_dates=True)
pharma = pd.read_csv('data/pharma.csv', index_col=0, parse_dates=True)

# Giữ lại cột 'close'
dhg = dhg[['close']].rename(columns={'close': 'DHG'})
dhg.index = pd.to_datetime(dhg.index)

vnindex = vnindex[['time','close']]
vnindex.set_index('time', inplace=True)
vnindex.index = pd.to_datetime(vnindex.index)
vnindex.drop_duplicates(inplace=True)
vnindex = vnindex[['close']].rename(columns={'close': 'VNINDEX'})
vnindex

pharma = pharma[['close']].rename(columns={'close': 'PHARMA'})
pharma.index = pd.to_datetime(pharma.index)
pharma

df = pd.concat([dhg,pharma,vnindex], axis=1,join='inner')

# Đọc dữ liệu
df.index = pd.to_datetime(df.index)

df['target'] = (df['DHG'].shift(-1) > df['DHG']).astype(int)

df['VNINDEX_lag2'] = df['VNINDEX'].shift(2)
df['PHARMA_lag1'] = df['PHARMA'].shift(1)

df.dropna(inplace=True)

df.drop(['PHARMA','VNINDEX'],axis=1,inplace=True)

df.to_csv('data/DHG_PHARM_VNINDEX.csv')

df

C:\Users\hoang\AppData\Local\Temp\ipykernel_16184\2183827007.py:6: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  vnindex = pd.read_csv('data/VNINDEX.csv', index_col=0, parse_dates=True)

               DHG  target  VNINDEX_lag2  PHARMA_lag1
time
2014-03-28   47.45       0        588.06    14.635833
2014-03-31   47.11       0        590.14    14.485000
2014-04-01   46.10       0        594.29    14.422083
2014-04-02   45.76       1        591.57    14.248333
2014-04-03   46.78       0        583.85    14.176250
...            ...     ...           ...          ...
2025-03-25  100.00       0       1321.88    30.697414
2025-03-26  100.00       0       1330.32    30.627759
2025-03-27  100.00       0       1331.92    30.842586
2025-03-28  100.00       0       1326.09    30.936207
2025-03-31  100.00       0       1323.81    30.904655

[2692 rows x 4 columns]

In [41]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

# Đọc dữ liệu
imp = pd.read_csv('data/IMP.csv', index_col=0, parse_dates=True)
vnindex = pd.read_csv('data/VNINDEX.csv', index_col=0, parse_dates=True)
pharma = pd.read_csv('data/pharma.csv', index_col=0, parse_dates=True)

# Giữ lại cột 'close'
imp = imp[['close']].rename(columns={'close': 'IMP'})
imp.index = pd.to_datetime(imp.index)

vnindex = vnindex[['time','close']]
vnindex.set_index('time', inplace=True)
vnindex.index = pd.to_datetime(vnindex.index)
vnindex.drop_duplicates(inplace=True)
vnindex = vnindex[['close']].rename(columns={'close': 'VNINDEX'})
vnindex

pharma = pharma[['close']].rename(columns={'close': 'PHARMA'})
pharma.index = pd.to_datetime(pharma.index)
pharma

df = pd.concat([imp,pharma,vnindex], axis=1,join='inner')

# Đọc dữ liệu
df.index = pd.to_datetime(df.index)

df['target'] = (df['IMP'].shift(-1) > df['IMP']).astype(int)

df['VNINDEX_lag2'] = df['VNINDEX'].shift(2)
df['PHARMA_lag1'] = df['PHARMA'].shift(1)

df.dropna(inplace=True)

df.drop(['PHARMA','VNINDEX'],axis=1,inplace=True)


df.to_csv('data/IMP_PHARM_VNINDEX.csv')

df

C:\Users\hoang\AppData\Local\Temp\ipykernel_16184\1282602472.py:6: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  vnindex = pd.read_csv('data/VNINDEX.csv', index_col=0, parse_dates=True)

              IMP  target  VNINDEX_lag2  PHARMA_lag1
time
2014-03-28   8.05       0        588.06    14.635833
2014-03-31   8.05       0        590.14    14.485000
2014-04-01   8.05       0        594.29    14.422083
2014-04-02   7.72       1        591.57    14.248333
2014-04-03   7.98       0        583.85    14.176250
...           ...     ...           ...          ...
2025-03-25  45.15       1       1321.88    30.697414
2025-03-26  45.60       1       1330.32    30.627759
2025-03-27  45.65       0       1331.92    30.842586
2025-03-28  45.55       0       1326.09    30.936207
2025-03-31  44.55       0       1323.81    30.904655

[2692 rows x 4 columns]