In [1]:
import pandas as pd

In [30]:
old = pd.read_csv('data/old_trade_history.csv')
new = pd.read_csv('data/updated_trade_history.csv')

In [33]:
final = pd.concat([old, new],ignore_index=True)
final

        ticker        time   open   high    low  close   volume
0          A32  2018-10-23  13.19   0.00   0.00   0.00        0
1          A32  2018-10-24  13.19  13.19  13.19  13.19        0
2          A32  2018-10-25  13.19  13.19  13.19  13.19        0
3          A32  2018-10-26  13.19  13.19  13.19  13.19        0
4          A32  2018-10-29  13.19  13.19  13.19  13.19        0
...        ...         ...    ...    ...    ...    ...      ...
3590678    YEG  2025-03-31  13.55  14.20  13.35  13.70  1353500
3590679    YTC  2025-03-26  33.80  33.80  33.10  33.10     1019
3590680    YTC  2025-03-27  31.10  35.00  31.10  35.00      400
3590681    YTC  2025-03-28  31.80  35.50  31.80  31.80      604
3590682    YTC  2025-03-31  28.90  34.50  28.90  29.50     1600

[3590683 rows x 7 columns]

In [34]:
final.time = pd.to_datetime(final.time)

In [35]:
final.time.max()

Timestamp('2025-03-31 00:00:00')

In [38]:
final = final.sort_values(by=['ticker', 'time'], ascending=[True, True])

In [42]:
final.to_csv('fact_trade_history.csv',index=False)

In [2]:
company = pd.read_csv('data/company.csv')

In [6]:
pharma = company[company.industry == 'Y tế']

In [7]:
pharma.ticker.unique()

array(['AGP', 'AMP', 'AMV', 'APC', 'BCP', 'BIO', 'CDP', 'CNC', 'CVN',
       'DAN', 'DBD', 'DBM', 'DBT', 'DCL', 'DDN', 'DHD', 'DHG', 'DHN',
       'DMC', 'DNM', 'DP1', 'DP2', 'DP3', 'DPH', 'DPP', 'DTG', 'DTH',
       'DTP', 'DVM', 'DVN', 'GPC', 'HDP', 'IMP', 'JVC', 'LDP', 'MED',
       'MEF', 'MKP', 'MKV', 'MRF', 'MTP', 'NDC', 'NDP', 'NTF', 'OPC',
       'PBC', 'PMC', 'PPP', 'SPM', 'TNH', 'TRA', 'TTD', 'TVP', 'TW3',
       'UPH', 'VDP', 'VHE', 'VMD', 'YTC'], dtype=object)

In [8]:
pharma = ['AGP', 'AMP', 'AMV', 'APC', 'BCP', 'BIO', 'CDP', 'CNC', 'CVN',
       'DAN', 'DBD', 'DBM', 'DBT', 'DCL', 'DDN', 'DHD', 'DHG', 'DHN',
       'DMC', 'DNM', 'DP1', 'DP2', 'DP3', 'DPH', 'DPP', 'DTG', 'DTH',
       'DTP', 'DVM', 'DVN', 'GPC', 'HDP', 'IMP', 'JVC', 'LDP', 'MED',
       'MEF', 'MKP', 'MKV', 'MRF', 'MTP', 'NDC', 'NDP', 'NTF', 'OPC',
       'PBC', 'PMC', 'PPP', 'SPM', 'TNH', 'TRA', 'TTD', 'TVP', 'TW3',
       'UPH', 'VDP', 'VHE', 'VMD', 'YTC']

In [9]:
trade_history = pd.read_csv('fact_trade_history.csv')

In [19]:
trade_history = trade_history[trade_history.ticker.isin(pharma)]

In [20]:
trade_history

        ticker        time   open  high   low  close  volume
61836      AGP  2015-10-06  18.22   0.0   0.0    0.0       0
61837      AGP  2015-10-07  18.22   0.0   0.0    0.0       0
61838      AGP  2015-10-08  18.22   0.0   0.0    0.0       0
61839      AGP  2015-10-09  18.22   0.0   0.0    0.0       0
61840      AGP  2015-10-12  18.22   0.0   0.0    0.0       0
...        ...         ...    ...   ...   ...    ...     ...
3590678    YTC  2025-03-25  33.10  33.1  33.1   33.1       0
3590679    YTC  2025-03-26  33.80  33.8  33.1   33.1    1019
3590680    YTC  2025-03-27  31.10  35.0  31.1   35.0     400
3590681    YTC  2025-03-28  31.80  35.5  31.8   31.8     604
3590682    YTC  2025-03-31  28.90  34.5  28.9   29.5    1600

[127192 rows x 7 columns]

In [21]:
close = trade_history.groupby('time')['close'].mean()

In [22]:
close

time
2014-01-02    12.298333
2014-01-03    12.422500
2014-01-06    12.585833
2014-01-07    12.521667
2014-01-08    12.661250
                ...
2025-03-25    30.627759
2025-03-26    30.842586
2025-03-27    30.936207
2025-03-28    30.904655
2025-03-31    32.314500
Name: close, Length: 2804, dtype: float64

In [23]:
close = close.sort_index()

In [25]:
close.to_csv('pharma.csv')

In [40]:
df = pd.read_csv('D:\Projects\stock_project\data\pharma.csv')

In [41]:
# Add a new "ticker" column with all values as 'PHARMA'
df.insert(1, 'ticker', 'PHARMA')

In [43]:
df.to_csv('pharma.csv',index=False)